.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6DCDC;
}
        
.formBox {
    background-color: #fff; 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
        
.inputBox {
    margin-bottom: 1rem;
}
        
.inputBox h5 {
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 0.9rem;
    color: #000000;
}
        
.inputBox input {
    width: 95%;
    padding: 0.75rem; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
        
.rememberForgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #000000;
}
        
.rememberForgot label {
    display: flex;
    align-items: center;
}
        
.rememberForgot a {
    color: #000000;
    text-decoration: none;
}
        
.rememberForgot a:hover {
    text-decoration: underline;
}
        
.button {
    background-color: #f6DCDC;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}
        
.button:hover {
    background-color: #f1a7a7;
}
        
.registerLink {
    font-size: 0.9rem;
    color: #000000;
}
        
.registerLink a {
    color: #000000;
    text-decoration: none;
}
        
.registerLink a:hover {
    text-decoration: underline;
}
        
.formBox h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #000000;
}
        
.logo {
    margin-bottom: 1rem;
}