.topSection {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../public/images/Background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.logo {
    width: 400px;
    height: 200px;
}
  
.title {
    margin-top: -40px;
    font-size: 24px;
}
  
.filterContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.filterGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.filterLabel {
    margin-bottom: 5px;
    font-weight: bold;
}
  
.filterSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Línea agregada para aumentar el ancho de los selectores */
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.inputBox input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.inputBox input:focus{
    outline: none;
}

.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.serviceCard {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
}

.serviceTitle {
    font-size: 18px;
    margin: 0 0 10px;
}

.serviceDistance {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.serviceTime {
    font-size: 14px;
    margin-bottom: 10px;
}

.serviceDescription {
    font-size: 14px;
    margin-bottom: 10px;
}

.servicePrice {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.serviceButton {
    padding: 10px 15px;
    background-color: #f4b4b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}
