/* CalendarComponent.module.css */
/* Debo llevarme toda esta estructura para el provider profile */

.react-calendar {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

.highlight {
    background-color: #F6DCDC !important;
    color: white !important;
}
