* {
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: 'Crimson';
    src: url('/fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cremona';
    src: url('/fonts/Cremona Regular TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crimson', sans-serif;
}

h1 {
    font-family: 'Cremona', sans-serif;
    color: #373536;
}

span {
    margin: 0 10px;
    font-size: 1.2rem;
}

button:hover{
    background-color: #f1a7a7;
}