.main {
  font-family: 'Crimson', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/Nails.jpg");
  min-height: 100vh;
}

.logo {
  width: 200px;
  height: auto;
}

.title {
  font-size: 24px;
  margin-top: -30px;
}

.noArrows::-webkit-outer-spin-button,
.noArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  background-color: #ffffff50;
  backdrop-filter: blur(10px);
  width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 3px 10px 2px #00000040;
  padding: 20px;
  gap: 5px;
  margin-top: 12vh;
  margin-bottom: 2vh;
}

.formRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.formRow2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  gap: 15px;
  flex-wrap: nowrap;
}


.addNewService {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.addNewServiceButton {
  width: 40%;
  height: 40px;
  margin-top: 10px;
  background-color: #F6DCDC;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px #00000040;
  transition: .5s;
}

.addNewServiceButton:hover {
  cursor: pointer;
  background-color: #ffeded;
  transition: .5s;
}

.addServiceModal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #ffffff5d;
  backdrop-filter: blur(5px);
  gap: 20px;
}

.addServiceForm {
  background-color: #FFFFFF;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 1px #00000016;
  gap: 10px;
}

.addedServices{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.addedService{
  width: 150px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 3px 10px 1px #00000016;
}

.addServiceinputContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;

}

.addServiceInput {
  width: 100%;
  height: 30px;
}

.addServiceButtom {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
  box-shadow: 0px 3px 10px 1px #00000016;
  background-color: #f6DCDC;
}

.cancelAddServiceButton {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
  background-color: #dd5c5c;
  color: #FFFFFF;
  box-shadow: 0px 3px 10px 1px #00000016;
}

.longFormRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.formInputContainer {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.formInput,
.selectBox {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #F4F4F4;
  box-shadow: 0 1px 2px 1px #00000040;
  text-indent: 10px;
}

.formInput2 {
  width: 100%;
  height: 90px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #F4F4F4;
  box-shadow: 0 1px 2px 1px #00000040;
  text-indent: 10px;
}

.formInput::placeholder {
  color: #00000040;
  margin-left: 5px;
}

.formInput:focus,
.selectBox:focus {
  outline: none;
}

.prices {
  text-align: left;
  width: 100%;
  padding: 10px 0;
}

.prices p {
  margin: 5px 0;
}


.sendButton {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #F6DCDC;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px #00000040;
  transition: .5s;
}

.sendButton:hover {
  cursor: pointer;
  background-color: #ffeded;
  transition: .5s;
}

.sendButton:active {
  background-color: #F6DCDC;
  box-shadow: 0 1px 0 1px #00000040;
}

.confirmation {
  background-color: #ffffff5d;
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ConfirmationModal {
  width: 300px;
  height: 150px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 2px 1px 2px #0000001e;
}

.confirmationText {
  font-size: 24px;
}

.serviceListLink {
  color: #000000;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.alert p {
  font-size: 24px;
}

.alert .profileLink {
  font-size: 24px;
  background-color: #F6DCDC;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

/*Tamayo (Ajustar Media Queries)*/

@media (max-width: 1200px) {
    .form {
        width: 800px;
    }

    .logo {
        width: 350px;
        height: 175px;
    }
}

@media (max-width: 1100px) {
    .formRow2 {
        flex-wrap: wrap;
    }

    .formRow2 > div {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 992px) {
    .form {
        width: 700px;
    }

    .formInputContainer {
        width: 100%;
    }

    .formRow {
        flex-direction: column;
    }

    .formInput,
    .selectBox {
        width: 100%;
    }

    .formRow,
    .longFormRow {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .topSection {
        height: 50vh;
    }

    .logo {
        width: 300px;
        height: 150px;
    }

    .form {
        width: 300px;
        padding: 15px;
    }

    .title {
        font-size: 20px;
        margin-top: -30px;
    }

    .formInput,
    .selectBox {
        height: 35px;
    }

    .sendButton {
        height: 35px;
        font-size: 14px;
    }
}