.main {
    font-family: 'Crimson', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.topSection{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../public/images/Background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 400;
    height: 200;
}

.title{
    margin-top: -40px;
    font-size: 24px;
}

.noArrows::-webkit-outer-spin-button,
.noArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form{
    background-color: #FFFFFF;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #00000040;
    margin-top: -60px;
    padding: 20px;
    gap: 10px;
    margin-bottom: 30px;
}

.formRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.longFormRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.formInputContainer{
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.formInput, .selectBox{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #F4F4F4;
    box-shadow: 0px 1px 2px 1px #00000040;
    text-indent: 10px;
}

.formInput::placeholder{
    color: #00000040;
    margin-left: 5px;
}
.formInput:focus, .selectBox:focus{
    outline: none;
}

.sendButton{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #F6DCDC;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px #00000040;
    transition: .5s;
}

.sendButton:hover{
    cursor: pointer;
    background-color: #ffeded;
    transition: .5s;
}

.sendButton:active{
    background-color: #F6DCDC;
    box-shadow: 0px 1px 0px 1px #00000040;
}

.confirmation{
    background-color: #ffffff5d;
    backdrop-filter: blur(5px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ConfirmationModal{
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 2px 1px 2px #0000001e;
}

.confirmationText{
    font-size: 24px;
}

.serviceListLink{
    color: #000000;
}

@media (max-width: 1200px) {
    .form {
      width: 400px;
    }
  
    .logo {
      width: 350px;
      height: 175px;
    }
}
  
@media (max-width: 992px) {
    .form {
      width: 350px;
    }
  
    .formInputContainer {
      width: 100%;
    }
  
    .formRow {
      flex-direction: column;
    }
  
    .formInput, .selectBox {
      width: 100%;
    }
  
    .formRow, .longFormRow {
      margin-bottom: 10px;
    }
}
  
@media (max-width: 768px) {
    .topSection {
      height: 50vh;
    }
  
    .logo {
      width: 300px;
      height: 150px;
    }
  
    .form {
      width: 300px;
      padding: 15px;
    }
  
    .title {
      font-size: 20px;
      margin-top: -30px;
    }
  
    .formInput, .selectBox {
      height: 35px;
    }
  
    .sendButton {
      height: 35px;
      font-size: 14px;
    }
}
  
@media (max-width: 576px) {
    .topSection {
      height: 40vh;
    }
  
    .logo {
      width: 250px;
      height: 125px;
    }
  
    .form {
      width: 90%;
      padding: 10px;
    }
  
    .title {
      font-size: 18px;
      margin-top: -20px;
    }
  
    .formInput, .selectBox {
      font-size: 14px;
      height: 30px;
    }
  
    .sendButton {
      height: 30px;
      font-size: 12px;
    }
  
    .confirmation {
      padding: 20px;
    }
  
    .ConfirmationModal {
      width: 80%;
      height: auto;
      padding: 15px;
    }
  
    .confirmationText {
      font-size: 20px;
      text-align: center;
    }
  
    .serviceListLink {
      font-size: 16px;
      text-align: center;
    }
}
  