.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3rem ;
    background-color: #f6DCDC;
}
  
.formBox {
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 350px;
    text-align: center;
}
  
.inputBox {
    margin-bottom: 1rem;
}
  
.inputBoxHalf {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    width: 60%;
}

.selectBox{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    text-indent: 10px;
}

.inputBoxHalf1 {
    width: 35%;
}
  
.inputBoxHalf1 h5 {
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 0.9rem;
    color: #000000;
}
  
.inputBoxHalf1 input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.inputBoxHalf input:focus{
  outline: none;
}
.inputBox input:focus{
  outline: none ;
}
  
.inputGroup {
    display: flex;
    justify-content: space-between;
}
  
.inputBox h5, .inputBoxHalf h5 {
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 0.9rem;
    color: #000000;
}
  
.inputBox input, .inputBoxHalf input, .inputBoxHalf1 input {
    width: 90%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
  
.passwordWrapper {
    display: flex;
    align-items: center;
    position: relative;
}
  
.passwordWrapper input {
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
  
.togglePassword {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
}
  
  .button {
    background-color: #f4c2c2;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color: #f1a7a7;
  }
  
  .registerLink {
    font-size: 0.9rem;
    color: #000000;
  }
  
  .registerLink a {
    color: #000000;
    text-decoration: none;
  }
  
  .registerLink a:hover {
    text-decoration: underline;
  }
  
  .formBox h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  
  .logo {
    margin-bottom: 1rem;
  }
  