.main {
    font-family: 'Crimson', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.topSection {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../public/images/Background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 400;
    height: 200;
}

.title {
    margin-top: -40px;
    font-size: 24px;
}


.bottomSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userDataContainer {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userData {
    width: 80%;
    box-shadow: 0px 1px 3px 1px #00000038;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buttonSection{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonSection button{
    width: 49%;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #00000038;
    color: #FFFFFF;
    font-weight: bold;
}

.onRoad{
    background-color: #74E372;
}

.doneService{
    background-color: #bfbfbf;
}

.contactClient{
    background-color: #ff8585;
}

.cancelService{
    background-color: #F47070;
}

.activeServiceTitle{
    margin-bottom: 10px;
}

.userServices {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.historyContainer{
    width: 100%;
    height: 100%;
}
.activeService {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 1px #00000038;
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
}

.serviceIndex,
.serviceInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.serviceText {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.serviceInfoText {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cancelButton {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #F47070;
    box-shadow: 0px 1px 3px 1px #00000038;
    transition: .5s;
    font-weight: bold;
    color: #FFFFFF;
}

.cancelButton:hover {
    cursor: pointer;
    background-color: #ff8585;
    transition: .5s;
}

.cancelButton:active {
    background-color: #F47070;
    box-shadow: 0px 1px 1px 1px #00000038;
}


.contactButton {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #74E372;
    box-shadow: 0px 1px 3px 1px #00000038;
    transition: .5s;
    font-weight: bold;
    color: #FFFFFF;
}

.contactButton:hover {
    cursor: pointer;
    background-color: #92e791;
    transition: .5s;
}

.contactButton:active {
    background-color: #74E372;
    box-shadow: 0px 1px 1px 1px #00000038;
}



.serviceTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.serviceHistory {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 1px #00000038;
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
}

.serviceState{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #F47070;
    box-shadow: 0px 1px 3px 1px #00000038;
    transition: .5s;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.editData,
.logOut {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 0px 1px 3px 1px #00000038;
    font-weight: bold;
    transition: .5s;
    border-radius: 5px;
}

.editData {
    background-color: #F6DCDC;
}

.logOut {
    background-color: #F47070;
    color: #FFFFFF;
}

.editData:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #feeded;
}

.logOut:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #ff8585;
}

.editData:active,
.logOut:active {
    box-shadow: 0px 3px 3px 1px #00000038;
}

@media screen and (max-width: 770px){
    .bottomSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .userDataContainer{
        width: 100%;
    }

    .userData{
        margin: 0px;
    }

    .userServices{
        width: 100%;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .title{
        margin: 0;
    }

}